@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto-black-webfont.eot');
    src: url('fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto-black-webfont.woff') format('woff'),
         url('fonts/roboto-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
}

body > input[type=radio] {
  display: none;
}

.index-wrapper {
  max-width: 1200px;
  min-width: 900px;
  margin-right: auto;
  margin-left: auto;
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.catalog-wrapper {
  max-width: 1200px;
  min-width: 900px;
  margin-right: auto;
  margin-left: auto;
  background-color: #849d8f;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.btn {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  border: none;
  color: #ffffff;
  border-radius: 25px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}


/* Заголовок
   ========================================================================== */

.main-header {
  color: #ffffff;
  padding-top: 23px;
}

.main-header a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.logo {
  float: left;
  margin-right: 16px;
}

.logo img {
  width: 154px;
  height: 64px;
  margin-left: -6px;
  margin-top: -14px;
}

.main-navigation {
/*  width: 675px;*/
  float: left;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-menu-unit {
  padding: 7px 14px;
  border-radius: 16px;
}

.main-menu .main-menu-unit:hover {
  color: #333333;
  background-color: #f7f6f3;
}

.main-menu .main-menu-unit:active {
  color: #333333;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1);
}

.main-menu .current {
  background-color: #d07058;
}

.main-menu > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

.main-menu li:hover .sub-menu {
  display: block;
}

.sub-menu {
  margin: 0;
  padding: 0;
  position: absolute;
  left: -7px;
  width: 143px;
  z-index: 10;
  display: none;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.sub-menu li {
  margin-left: 6px;
  margin-right: 9px;
  margin-bottom: 3px;
}

.sub-menu a {
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #323232;
}

.novelty {
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(53,53,53,0.2);
}

.user-block {
 /* width: 267px;*/
  float: right;
}

.user-menu {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.user-menu > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-left: 10px;
}

.user-menu .search {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2) url("../img/loupe.svg") no-repeat;
  background-position: center;
  text-indent: -10000px;
}

.user-menu .search:hover {
  background: #f8f7f4 url("../img/loupe-hover.svg") no-repeat;
  background-position: center;
}

.user-menu .login {
  padding-left: 44px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.2) url("../img/entrance.svg") no-repeat;
  background-position: 16px center;
}

.user-menu .login:hover {
  color: #323232;
  background: #f8f7f4 url("../img/entrance-hover.svg") no-repeat;
  background-position: 16px center;
}

.user-menu .cart-empty {
  padding-left: 44px;
  padding-top: 8px;
  padding-right: 34px;
  padding-bottom: 8px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.2) url("../img/cart-empty.svg") no-repeat;
  background-position: 16px center;
}

.user-menu .cart-empty:hover {
  color: #323232;
  background: #f8f7f4 url("../img/cart-empty-hover.svg") no-repeat;
  background-position: 16px center;
}

.user-menu .cart-full {
  padding-left: 44px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  border-radius: 16px;
  color: #323232;
  background: #f7f6f3 url("../img/cart-full.svg") no-repeat;
  background-position: 16px center;
}

.user-menu li:hover .search-field {
  display: block;
}

.user-menu .search-field {
  position: absolute;
  left: -130px;
  z-index: 10;
  display: none;
}

.user-menu li:hover .entrance {
  display: block;
}

.user-menu .entrance {
  position: absolute;
  left: -135px;
  display: none;
}

.user-menu li:hover .cart-container {
  display: block;
}

.user-menu .cart-container {
  position: absolute;
  left: -400px;
  width: 484px;
  display: none;
  background-color: darkseagreen;
  z-index: 10;
}

.info {
  text-align: right;
}

.time {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.phone {
  font-size: 22px;
  line-height: 24px;
  font-family: 'Roboto Black', arial, sans-serif;
}

/* Слайдер
   ========================================================================== */

.slider {
  position: relative;
  margin-bottom: 41px;
  padding-top: 275px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30.65px;
  font-size: 60px;
  line-height: 60.35px;
  font-family: 'Roboto Black', arial, sans-serif;
}

.slide-btn {
  padding-top: 7.5px;
  padding-bottom: 12px;
  padding-left: 41px;
  padding-right: 41px;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 32px;
}

.slider-controls {
  position: absolute;
  left: 0;
  bottom: 21px;
  z-index: 10;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#control-1:checked ~ .index-wrapper .slide-1,
#control-2:checked ~ .index-wrapper .slide-2,
#control-3:checked ~ .index-wrapper .slide-3 {
  display: block;
}

#control-1:checked ~ .index-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#control-2:checked ~ .index-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#control-3:checked ~ .index-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#control-1:checked ~ .index-wrapper label[for="control-1"],
#control-2:checked ~ .index-wrapper label[for="control-2"],
#control-3:checked ~ .index-wrapper label[for="control-3"] {
  background-color: #ffffff;
}

/* Баннер
   ========================================================================== */

.banners {
  margin-bottom: 40px;
}

.banner-left {
  float: left;
  width: 560px;
  background: #981a34 url("../img/banner-1.jpg") no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.banner-right {
  float: right;
  width: 560px;
  background: #3c2318 url("../img/banner-2.jpg") no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.banner-content {
  padding-left: 19px;
  padding-top: 16px;
  padding-right: 21px;
  padding-bottom: 24px;
}

.banner-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.banners p {
  margin: 0;
  margin-bottom: 42px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.wrapper-banner-btn {
  text-align: right;
}

.banner-btn {
  padding-left: 21px;
  padding-right: 23px;
}


/* Галерея товаров
   ========================================================================== */


.gallery {
  font-size: 0px;
}

.gallery-catalog {
  margin-bottom: 44px;
}

.item {
  position: relative;
  display: inline-block;
  margin-right: 26px;
  width: 267px;
  font-size: 16px;
  vertical-align: top;
  text-align: center;
  margin-bottom: 37px;
}

.item:nth-child(4n) {
  margin-right: 0px;
}

.item:hover .action {
  display: block;
}
.item:hover .item-image,
.item:hover .item-title  {
  z-index: 20;
}

.item:hover a {
  border: none;
}

.item-image {
  width: 267px;
  height: 267px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.item-image img {
  max-width: 100%;
  height: auto;
}

.item-title {
  margin: 0;
  margin-top: 14px;
  font-size: 16px;
  line-height: 22px;
  min-height: 44px;
  font-weight: 500;
  padding: 0 5px;
  position: relative;
}

.item-title a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-title a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.item-title a:active {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.item .flag {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
}

.item .flag-hit {
  background: url("../img/flag.png") no-repeat;
  text-indent: -10000px;
}

.item-price {
  position: absolute;
  left: 0;
  top: 209px;
  z-index: 30;
  font-size: 45px;
  line-height: 45px;
  min-height: 45px;
  font-weight: bold;
  cursor: pointer;
}
.price {
  padding-right: 30px;
  background: url("../img/ruble.svg") no-repeat;
  background-position: 100% 12px;
}
.item-price .weight {
  font-size: 30px;
  margin-left: -5px;
}

.item .action {
  top: -5px;
  left: -5px;
  position: absolute;
  z-index: 10;
  width: 278px;
  min-height: 405px;
  background-color: rgba(254, 254, 254, 0.3);
  border-radius: 5px;
  display: none;
}

.item-btn {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 337px;
}



/* Преимущества
   ========================================================================== */



.features {
  margin-bottom: 40px;
  padding: 24px 19px;
  color: #323232;
  background: #eee2c7 url("../img/features-texture.gif");
  border-radius: 15px;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 6px;
}

.features p {
  margin: 0;
  padding-left: 56px;
  padding-top: 16px;
}

.features p:nth-of-type(odd) {
  margin-bottom: 6px;
}

.feature-left p:first-child {
  background: url("../img/feature-1.svg") no-repeat;
  background-position: left 4px;
}

.feature-left p:last-child {
  background: url("../img/feature-2.svg") no-repeat;
  background-position: left 4px;
}

.feature-right p:first-child {
  background: url("../img/feature-3.svg") no-repeat;
  background-position: left 4px;
}

.feature-right p:last-child {
  background: url("../img/feature-4.svg") no-repeat;
  background-position: left 4px;
}

.feature-left {
  float: left;
  width: 541px;
}

.feature-right {
  float: right;
  width: 541px;
}


/* Новости и Подписка
   ========================================================================== */


.content {
  margin-bottom: 40px;
}

.news {
  float: left;
  width: 560px;
  background: #ffffff url("../img/news.jpg") no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.news-container {
  padding: 24px 19px;
}

.news h2 {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  margin-bottom: 4px;
}

.news a {
  color: #323232;
}

.news a:hover {
  color: #e84d37;
  border-color: #e84d37;
}

.news a:active {
  color: #e84d37;
  border-color: #e84d37;
}

.news p {
  margin: 0;
  width: 287px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  white-space: pre-wrap;
  min-height: 146px;
}

.subscription {
  float: right;
  width: 560px;
  background: #f8f7f4;
  border-radius: 15px;
  background: url("../img/subscription-texture.gif");
}

.subscription-container {
  margin: 5px;
  background-color: #f8f7f4;
  border-radius: 10px;
  padding-bottom: 35px;
}

.subscription p {
  margin: 0;
  color: #323232;
  padding: 29px 21px;
  margin-bottom: 7px;
}

.subscription-form input[type="email"] {
  width: 338px;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto", Arial, sans-serif;
  outline: none;
  border: 1px solid #b2b2b2;
  background-color: #ffffff;
  margin-left: 21px;
  border-radius: 5px;
}

.subscription-btn {
  padding: 9px 17px;
  margin-left: 10px;
}

/* Карта
   ========================================================================== */

.map {
  background: #d5dfc3 url("../img/map.jpg") no-repeat;
  background-size: cover;
}

.address {
  float: right;
  width: 252px;
  margin: 62px 0;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  padding: 30px 25px;
  border-radius: 15px;
}

.address-info,
.phone-info {
  margin: 0;
  margin-bottom: 24px;
}

.address .important-info {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.address-btn {
  display: inline-block;
  padding-left: 27px;
  padding-right: 27px;
}

/* Подвал
   ========================================================================== */

.main-footer {
  padding-top: 36px;
  padding-bottom: 30px;
  color: #ffffff;
}

.main-footer a {
  color: #ffffff;
  text-decoration: none;
}

.main-footer a:hover:not(.social-btn) {
  color: #ffbc9e;
  border-color: #ffbc9e;
}

.main-footer a:active:not(.social-btn) {
  color: #ffbc9e;
  border-color: #ffbc9e;
}

.catalog-footer {
  margin-top: 33px;
  box-shadow: 0 -28px 0 -27px rgba(254, 254, 254, 0.3);
}

.footer-social {
  float: left;
  margin-right: 205px;
}

.social-btn {
  display: inline-block;
  margin-right: 9px;
  width: 31px;
  height: 31px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  font-size: 0;
  vertical-align: top;
}

.social-btn:hover {
  border-color: rgba(255, 255, 255, 0.71);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.71);
}

.social-btn-tw:hover {
  background: url("../img/tw-hover.svg") no-repeat;
}

.social-btn-inst:hover {
  background: url("../img/inst-hover.svg") no-repeat;
}

.social-btn-fb:hover {
  background: url("../img/fb-hover.svg") no-repeat;
}

.social-btn-vk:hover {
  background: url("../img/vk-hover.svg") no-repeat;
}

.social-btn:active {
  box-shadow: inset 0 2px 1px 0 #888888;
  border-color: rgba(255, 255, 255, 0.7);
}

.social-btn-tw,
.social-btn-tw:active {
  background: url("../img/tw.svg") no-repeat;
}

.social-btn-inst,
.social-btn-inst:active {
  background: url("../img/inst.svg") no-repeat;
}

.social-btn-fb,
.social-btn-fb:active {
  background: url("../img/fb.svg") no-repeat;
}

.social-btn-vk,
.social-btn-vk:active {
  background: url("../img/vk.svg") no-repeat;
}

.footer-information {
  float: left;
  font-size: 13px;
  line-height: 18px;
}

.footer-information a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.about-us {
  display: inline-block;
  vertical-align: top;
}

.about-us-left {
  width: 160px;
}

.about-us-left a {
  padding-left: 22px;
}

.about-us-left a:first-child {
  font-weight: bold;
  background: url("../img/heart.svg") no-repeat;
  background-position: left;
}

.about-us-right {
  width: 165px;
}

.footer-copyright {
  float: right;
}

.footer-logo img {
  width: 108px;
  height: 37px;
  margin-top: -17px;
}

.footer-copyright p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright .company-name {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.popup {
  display: none;
}


/* ==========================================================================
   Стили для страницы каталог
   ========================================================================== */



.page-header {

}


/* Хлебные крошки
   ========================================================================== */

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-top: -19px;
  list-style: none;
  font-size: 0;
}

.breadcrumbs > li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs span {
  padding: 0 7px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.breadcrumbs a:hover {
  color: #ffbc9e;
  border-color: #ffbc9e;
}

.breadcrumbs a:active {
  color: #ffbc9e;
  border-color: #ffbc9e;
}

/* Фильтр
   ========================================================================== */

h1 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
}

.filter {
  margin-bottom: 24px;
}
.filter form {
  font-size: 0;
}

.filter form > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  margin-bottom: 16px;
}

.filter form > div:last-child {
  vertical-align: bottom;

}
.filter-title {
  display: block;
  margin-left: 16px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

/* Фильтр-сортировка*/

 .filter select {
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  margin: 0;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 14px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  border-radius: 17px;
}

.filter select:hover {
  background-color: #ffffff;
  color: #323232;
  border-radius: 17px;
}

.filter option {
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;
  outline: none;
  border: none;
}

/* Фильтр по цене*/

.range-filter {
  width: 218px;
}

.range-controls {
  position: relative;
  padding: 16px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 17px;
}

.range-controls .scale {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);

}

.range-controls .bar {
  width: 55%;
  height: 4px;
  margin-left: 16%;
  background-color: rgba(255, 255, 255, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  background-color: #f8f7f4;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.range-controls .min-toggle {
  left: 16%;
}

.range-controls .max-toggle {
  left: 61%;
}

.price-controls input {
  width: 26px;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
}

/* Фильтр по жирности*/

.filter-content {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  padding-left: 15px;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  border-radius: 17px;
}

.fat-radio input[type="radio"] {
    display: none;
}

 .fat-radio {
  position: relative;
  padding-left: 30px;
  margin-right: 16px;
}

.fat-radio:last-child {
  margin-right: 0;
}

.fat-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #f8f7f4;
  border-radius: 50%;
  background-color: rgba(248, 247, 244, 0);
}

.fat-radio input[type="radio"] + .radio-indicator:hover {
  width: 16px;
  height: 16px;
  border: 2px solid #f8f7f4;
}

.fat-radio input[type="radio"]:checked + .radio-indicator {
  left: 1px;
  top: 1px;
  width: 10px;
  height: 10px;
  background-color: #f8f7f4;
  border: 4px solid #aabcb2;
  box-shadow: 0 0 0 1px #f8f7f4;
}

.fat-radio input[type="radio"]:checked + .radio-indicator:hover {
  left: 2px;
  top: 2px;
  border: 3px solid #aabcb2;
  box-shadow: 0 0 0 2px #f8f7f4;
}

.fat-radio input[type="radio"].disabled + .radio-indicator,
.fat-radio input[type="radio"]:disabled + .radio-indicator {
  border-color: rgba(248, 247, 244, 0.4);
}

.fat-radio input[type="radio"].disabled + .radio-indicator:hover,
.fat-radio input[type="radio"]:disabled + .radio-indicator:hover {
  width: 18px;
  height: 18px;
  border: 1px solid rgba(248, 247, 244, 0.4);
}

.fat-radio input[type="radio"].checked.disabled + .radio-indicator,
.fat-radio input[type="radio"][checked]:disabled + .radio-indicator {
  left: 1px;
  top: 1px;
  width: 10px;
  height: 10px;
  border: 4px solid #aabcb2;
  background-color: rgba(248, 247, 244, 0.4);
  box-shadow: 0 0 0 1px rgba(248, 247, 244, 0.4);
}

/* Фильтр по наполнителям*/

.sweet-filter .filter-content {
  padding-left: 16px;
  padding-right: 18px;
}

.sweet-checkbox input[type="checkbox"] {
    display: none;
}

 .sweet-checkbox {
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
}

.sweet-checkbox:last-child {
  margin-right: 0;
}

.sweet-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
}

.sweet-checkbox input[type="checkbox"] + .checkbox-indicator:hover {
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
}

.sweet-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 10px;
  height: 6px;
  border: 2px solid #ffffff;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
}

.sweet-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before:hover {
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
}

.sweet-checkbox input[type="checkbox"].disabled + .checkbox-indicator,
.sweet-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
  border-color: rgba(255, 255, 255, 0.4);
}

.sweet-checkbox input[type="checkbox"].disabled + .checkbox-indicator:hover,
.sweet-checkbox input[type="checkbox"]:disabled + .checkbox-indicator:hover {
  width: 18px;
  height: 18px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.sweet-checkbox input[type="checkbox"].checked.disabled + .checkbox-indicator,
.sweet-checkbox input[type="checkbox"][checked]:disabled + .checkbox-indicator,
.sweet-checkbox input[type="checkbox"].checked.disabled + .checkbox-indicator::before,
.sweet-checkbox input[type="checkbox"][checked]:disabled + .checkbox-indicator::before {
  border-color: rgba(255, 255, 255, 0.4);
}

.submit-btn {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 26px;
  padding-right: 26px;
  vertical-align: top;
  text-decoration: none;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  border: 2px solid #ffffff;
}

.submit-btn:hover {
  background-color: #ffffff;
  color: #323232;
}

.submit-btn:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1);
  border: 2px solid #ededed;
}


/* Переключатель страниц
   ========================================================================== */


.paginator {
  text-align: right;
  font-size: 0;
}

.paginator a {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  margin-right: 11px;
}

.paginator a:last-child {
  margin-right: 0;
}

.paginator .page:hover {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator .current,
.paginator .current:hover {
  background-color: #ffffff;
  color: #323232;
  box-shadow: 0 0 0 4px #ffffff;
}

.paginator .page:active {
  background-color: #ffffff;
  color: #323232;
  box-shadow: 0 0 0 4px #ffffff;
}

.paginator .disabled {
  opacity: 0.2;
}

.paginator .prev,
.paginator .next {
  position: relative;
  font-size: 0;
}

.paginator .prev::before,
.paginator .next::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #ffffff;
  border-top-style: none;
  border-right-style: none;
}

.paginator .prev::before {
  transform: rotate(45deg);
  top: 4px;
  left: 4px;
}

.paginator .next::before {
  transform: rotate(225deg);
  top: 4px;
  left: 4px;
}
