body {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto Regular", Arial, serif;
  background-color: #849d8f;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto Bold", Arial, serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  /*Временно для оформления сетки*/
  background-color: yellow;
}

.main-header .container {
  position: relative;
  min-height: 90px;
}

.logo {
  float: left;
  /*Временно для оформления сетки*/
  background-color: darkseagreen;
}

.main-navigation {
  float: left;
  /*Временно для оформления сетки*/
  background-color: red;
}

.main-menu > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.main-menu li:hover .sub-menu {
  display: block;
}

.main-menu .sub-menu {
  position: absolute;
  left: -40px;
  width: 143px;
  display: none;
  list-style: none;
}

.user-block {
  float: right;
  /*Временно для оформления сетки*/
  background-color: darkseagreen;
}

.user-block ul > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.user-block li:hover .search-field {
  display: block;
}

.user-block .search-field {
  position: absolute;
  left: -130px;
  z-index: 10;
  display: none;
}

.user-block li:hover .entrance {
  display: block;
}

.user-block .entrance {
  position: absolute;
  left: -135px;
  display: none;
}

.user-block li:hover .cart-container {
   display: block;
}

.user-block .cart-container {
  position: absolute;
  left: -400px;
  width: 484px;
  display: none;
  background-color: darkseagreen;
  z-index: 10;
}

.info-block {
  position: absolute;
  right: 27px;
  bottom: 0;
}

.slider-image {
  width: 3600px;
  font-size: 0;
}

.slides {
  display: inline-block;
  vertical-align: top;
  width: 1146px;
  min-height: 584px;
  font-size: 16px;
}

.slide1 {
  margin-right: 27px;
  background: #849d8f url("../img/slider-1.png") center no-repeat;
}

.slide2 {
  padding: 0 27px;
  background: #8996a6 url("../img/slider-2.png") center no-repeat;
}

.slide3 {
  padding: 0 27px;
  background: #9d8b84 url("../img/slider-3.png") center no-repeat;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  background: red;
}

.breadcrumbs > li {
  display: inline-block;
  vertical-align: top;
}

.filter {
  margin-bottom: 40px;
}

.filter form > div {
  display: inline-block;
  vertical-align: top;
}

.filter form > div:last-child {
  display: inline-block;
  vertical-align: bottom;

}
.filter-name {
  display: block;
}

.banners {
  margin-bottom: 40px;
  /*Временно для оформления сетки*/
  background-color: yellow;
}

.banner-left {
  float: left;
  width: 560px;
  /*Временно для оформления сетки*/
  background-color: slategray;
}

.banner-right {
  float: right;
  width: 560px;
  /*Временно для оформления сетки*/
  background-color: slategray;
}

.gallery {
  margin-bottom: 38px;
  font-size: 0px;
  /*Временно для оформления сетки*/
  background-color: darkseagreen;
}

.gallery-catalog {
  margin-bottom: 104px;
}

.item {
  display: inline-block;
  margin-right: 26px;
  width: 267px;
  font-size: 16px;
  vertical-align: top;
}

.item:nth-child(4n) {
  margin-right: 0px;
}

.features {
  margin-bottom: 40px;
  padding: 28px 19px;
  /*Временно для оформления сетки*/
  background-color: darkseagreen;
}

.feature-left {
  float: left;
  width: 541px;
}

.feature-right {
  float: right;
  width: 541px;
}

.content {
  margin-bottom: 40px;
  /*Временно для оформления сетки*/
  background-color: yellow;
}

.content-news {
  float: left;
  width: 560px;
  /*Временно для оформления сетки*/
  background-color: slategray;
}

.content-subscription {
  float: right;
  width: 560px;
  /*Временно для оформления сетки*/
  background-color: slategray;
}

.paginator {
  /*Временно для оформления сетки*/
  background-color: slategray;
  text-align: right;
}

.map {
  background-color: darkseagreen;
}

.address {
  float: right;
  width: 302px;
  margin: auto 0;
}

.main-footer {
  /*Временно для оформления сетки*/
  background-color: yellow;
}

.catalog-footer {
  margin-top: 30px;
}

.footer-social {
  float: left;
  /*Временно для оформления сетки*/
  background-color: slategray;
}

.footer-information {
  float: left;
  /*Временно для оформления сетки*/
  background-color: lightgreen;
}

.footer-copyright {
  float: right;
  /*Временно для оформления сетки*/
  background-color: slategray;
}

.popup {
  display: none;
}


